@model Notebook.Models.Note

<h2>Edit note</h2>
<form asp-action="EditNote" asp-controller="home" asp-route-id="@Model">
    <p hidden>
        <label asp-for="Id">Id</label><br />
        <input type="text" asp-for="Id" value="@Model.Id" />
        <span asp-validation-for="Id"></span>
    </p>
    <p hidden>
        <label asp-for="UserId" >UserId</label><br />
        <input type="text" asp-for="UserId" value="@Model.UserId" />
        <span asp-validation-for="UserId"></span>
    </p>
    <p>
        <label asp-for="Date">Date</label><br />
        <input type="datetime" asp-for="Date" value="@Model.Date" />
        <span asp-validation-for="Date"></span>
    </p>
    <p>
        <label asp-for="Name">Name</label><br />
        <input type="text" asp-for="Name" value="@Model.Name" />
        <span asp-validation-for="Name"></span>
    </p>
    <p>
        <label asp-for="Description">Description</label><br />
        <input type="text" asp-for="Description" value="@Model.Description" />
        <span asp-validation-for="Description"></span>
    </p>
@*    <p>
        <label asp-for="Photo">Photo</label><br />
        <input type="text" asp-for="Photo" value="@Model.Photo" />
        <span asp-validation-for="Photo"></span>
    </p>
*@    <p>
        <input type="submit" value="Save" />
    </p>
</form>