@model Notebook.Models.UserNoteViewModel

@if (Model.User != null)
{
    <h2>Logged in as: @Model.User.Email, @Model.User.Role</h2>
}
else
{
    <h2>Not logged in.</h2>
}
<p><a asp-action="CreateUser">Add user</a></p>
<p><a asp-action="CreateNote">Create note</a></p>
<h2>My notes:</h2>
<table class="table">
    <tr><th>Id</th><th>Date</th><th>Name</th><th>Description</th><th>Photo</th></tr>
    @foreach (var note in Model.Notes)
    {
        <tr>
            <td>@note.Id</td>
            <td>@note.Date</td>
            <td>@note.Name</td>
            <td>@note.Description</td>
@*            <td>@note.Photo</td>
*@            <td>
                <a asp-action="EditNote" asp-controller="Home" asp-route-id="@note.Id">Edit</a>
            </td>
            <td>
                <form asp-controller="Home" asp-action="DeleteNote" method="post" asp-route-id="@note.Id">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    }
</table>
<h2>A list of users:</h2>
<table class="table">
    <tr><th>Id</th><th>Email</th><th>Login</th><th>Password</th><th>Role</th></tr>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
            <td>@user.Login</td>
            <td>*</td>
            <td>@user.Role</td>
            <td>
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@user.Id">Edit</a>
            </td>
            <td>
                <form asp-controller="Home" asp-action="Delete" method="post" asp-route-id="@user.Id">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    }
</table>