@model IEnumerable<Notebook.Models.User>

<h2>A list of users</h2>
<p><a asp-action="CreateUser">Add user</a></p>
<p><a asp-action="LogIn">Log in</a></p>
<p><a asp-action="LogOut">Log out</a></p>
<table class="table">
    <tr><th>Id</th><th>Email</th><th>Login</th><th>Password</th><th>Role</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Email</td>
            <td>@item.Login</td>
            <td>@item.Password</td>
            <td>@item.Role</td>
            <td>
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id">Edit</a>
            </td>
            <td>
                <form asp-controller="Home" asp-action="Delete" method="post" asp-route-id="@item.Id">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    }
</table>